<!DOCTYPE html>
<head>
    <title>📄 | OCR Tools</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>📄 OCR Tools</h1>

    <input type="file" id="upload" accept="image/*">
    
    <div id="canvas-container">
        <canvas id="input-canvas" style="border-style: solid;" width="500" height="300" hidden></canvas>
    </div>

    <button id="detect-corners-button" hidden>Detect Corners</button>

    <button id="process-button" hidden>Process Image</button>

    <div id="output-canvas-container">
        <canvas id="output-canvas" style="border-style: solid;" width="500" height="300" hidden></canvas>
    </div>
    
    <button id="perform-ocr-button" hidden>Perform Ocr</button>
    

    <script src="/static/script.js"></script>
</body>
</html>
