<!DOCTYPE html>
<head>
    <title>Image Perspective Correction</title>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
</head>
<body>
    <h1>Image Perspective Correction</h1>

    <input type="file" id="upload" accept="image/*">
    
    <div id="canvas-container">
        <canvas id="canvas" style="border-style: solid;"></canvas>
    </div>

    <button id="process-button" disabled>Process Image</button>

    <img id="output" alt="Output Image" hidden>

    <script src="/static/script.js"></script>
</body>
</html>
